<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CCCCC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A13937911CB3CE5B00775C25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A13937AA1CB3CE5B00775C25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A13937B51CB3CE5B00775C25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
